<div class="min-vh-100 p-3 d-flex flex-column justify-content-center align-items-center">
    <!-- Titulo -->
    <div class="d-flex flex-column align-items-center">
        <h1 class="text-center">Wordle</h1>
        <p class="text-center">Adivina la palabra</p>
    </div>

    <!-- Grilla para adivinar -->
    <div class="">
        @for (word of wordsGrid; let wordI = $index; track $index) {
        <div class="d-flex gap-1 mb-1">
            @for (char of cols; let charI = $index; track $index) {
            <div class="wordle-input" [ngClass]="getLetterClass(wordI, charI) || ''">
                {{wordsGrid[wordI][charI] || ''}}
            </div>
            }
        </div>
        }
    </div>

    <!-- Boton para adivinar -->
    <div class="text-center mb-2">
        <p [ngClass]="gameLost ? '':'opacity-0'">PALABRA OCULTA: {{hiddenWord}}</p>
        <button type="button" class="btn bi-arrow-clockwise animated py-3 px-4" [class]="gameLost ? 'btn-outline-light' : 'btn-dark'" (click)="startGame()"></button>
    </div>

    <app-keyboard [hasEnter]="true" [(word)]="guessedWord" (enter)="checkWord()" (wordChange)="updateWord($event)"/>
</div>