<div class="min-vh-100 p-3 d-flex flex-column justify-content-center align-items-center">
    <!-- Titulo -->
    <div class="d-flex flex-column align-items-center">
        <h1 class="text-center">Wordle</h1>
        <p class="text-center">Adivina la palabra</p>
    </div>

    <!-- Grilla para adivinar -->
    <div class="">
        @for (word of wordsGrid; let wordI = $index; track $index) {
        <div class="d-flex gap-1 mb-1">
            @for (char of cols; let charI = $index; track $index) {
            <div class="wordle-input" [ngClass]="getLetterClass(wordI, charI) || ''" (click)="focusInput()">
                {{wordsGrid[wordI][charI] || ''}}
            </div>
            }
        </div>
        }
    </div>
    
    <!-- Boton para adivinar -->
    <div class="p-3">
        <input type="text" id="wordInput" class="form-control p-2 opacity-0" maxlength="5" placeholder="Escribe tu palabra" [(ngModel)]="guessedWord"
            (keyup.enter)="checkWord()" (input)="showWord()" autofocus autocomplete="off">
    </div>


</div>