.wordle-input {
    width: 75px;
    height: 75px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6c757d;
    color: #e9ecef;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.letter-green{
    background-color: #198754;
}

.letter-yellow{
    background-color: #ffc107;
}

.letter-red{
    background-color: #dc3545;
}