<section class="min-vh-100 pt-5">
    <div class="d-flex flex-column gap-5 justify-content-between p-3">
        <div class="border p-5">
            <div class="d-flex gap-2 p-2">
                <h2 class="text-start">Vidas </h2>
                @for (live of getLives(); track $index) {
                <i [class]="'gap-2 fs-3 ' + live"></i>
                }
                <button type="button" class="btn bi-arrow-clockwise ms-auto" [class]="!inGame ? 'btn-primary' : 'btn-outline-primary'" (click)="startGame()"></button>

            </div>
            SVG
        </div>
        <div class="p-5">
            <p class="fs-1 text-center">{{showHiddenWord()}}</p>
        </div>


        <app-keyboard [hasEnter]="false" [redKeys]="wrongLetters" (wordChange)="guessLetter($event)"
            [redKeys]="wrongLetters" [greenKeys]="correctLetters" />
    </div>
</section>