<div class="p-3"></div>
<div class=" p-5 flex-wrap d-flex gap-4 justify-content-center">

    @for (game of gameCards; track $index) {
        <div class="card" style="width: 18rem;">
            <img [src]="'images/' + game.image" class="card-img card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{game.title}}</h5>
                <p class="card-text" [title]="game.description">{{getToolTip(game)}}</p>
                <a class="btn btn-primary w-100" [routerLink]="'/home' + game.route" >Jugar ahora</a>
            </div>
        </div>
    }
    


    

</div>