<div class="p-3"></div>
<div class="container py-5 flex-wrap d-flex gap-4 justify-content-center">

    <!-- Blackjack -->
    <div class="card" style="width: 18rem;">
        <img src="images/blackjack.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Blackjack</h5>
            <p class="card-text">Some quick example text to build.</p>
            <a class="btn btn-primary w-100" routerLink="/home/blackjack">Jugar ahora</a>
        </div>
    </div>

    <!-- Solitary -->
    <div class="card" style="width: 18rem;">
        <img src="images/solitary.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Solitario</h5>
            <p class="card-text">Some quick example text to build.</p>
            <a class="btn btn-primary w-100" routerLink="/home/solitary">Jugar ahora</a>
        </div>
    </div>

    <!-- Memory -->
    <div class="card" style="width: 18rem;">
        <img src="images/memory.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Memoria</h5>
            <p class="card-text">Some quick example text to build.</p>
            <a class="btn btn-primary w-100" routerLink="/home/memory">Jugar ahora</a>
        </div>
    </div>

    <!-- Chess -->
    <div class="card" style="width: 18rem;">
        <img src="images/chess.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ajedrez</h5>
            <p class="card-text">Some quick example text to build.</p>
            <a class="btn btn-primary w-100" routerLink="/home/chess">Jugar ahora</a>
        </div>
    </div>

    <!-- Sudoku -->
    <div class="card" style="width: 18rem;">
        <img src="images/sudoku.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sudoku</h5>
            <p class="card-text">Some quick example text to build.</p>
            <a class="btn btn-primary w-100" routerLink="/home/sudoku">Jugar ahora</a>
        </div>
    </div>

    <!-- Minesweeper -->
    <div class="card" style="width: 18rem;">
        <img src="images/minesweeper.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Buscaminas</h5>
            <p class="card-text">Some quick example text to build.</p>
            <a class="btn btn-primary w-100" routerLink="/home/minesweeper">Jugar ahora</a>
        </div>
    </div>

    <!-- Hangman -->
    <div class="card" style="width: 18rem;">
        <img src="images/hangman.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ahorcado</h5>
            <p class="card-text">Some quick example text to build.</p>
            <a class="btn btn-primary w-100" routerLink="/home/hangman">Jugar ahora</a>
        </div>
    </div>
    
        <!-- Wordle -->
        <div class="card" style="width: 18rem;">
            <img src="images/wordle.png" class="card-img card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Wordle</h5>
                <p class="card-text">Some quick example text to build.</p>
                <a class="btn btn-primary w-100" routerLink="/home/wordle">Jugar ahora</a>
            </div>
        </div>

</div>