<div class="p-3"></div>
<div class=" p-5 flex-wrap d-flex gap-4 justify-content-center">

    <!-- Blackjack -->
    <div class="card" style="width: 18rem;">
        <img src="images/blackjack.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Blackjack</h5>
            <p class="card-text">Juego de cartas donde el objetivo es sumar 21 sin pasarse, compitiendo contra el crupier.
            </p>
            <a class="btn btn-primary w-100" routerLink="/home/blackjack">Jugar ahora</a>
        </div>
    </div>


    <!-- Solitary -->
    <div class="card" style="width: 18rem;">
        <img src="images/solitary.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Solitario</h5>
            <p class="card-text">Clásico juego de cartas para un jugador, donde se organiza la baraja en secuencia y por palo.
            </p>
            <a class="btn btn-primary w-100" routerLink="/home/solitary">Jugar ahora</a>
        </div>
    </div>


    <!-- Memory -->
    <div class="card" style="width: 18rem;">
        <img src="images/memory.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Memoria</h5>
            <p class="card-text">Desafío para la concentración donde se deben encontrar pares de cartas iguales volteándolas por turnos.</p>
            <a class="btn btn-primary w-100" routerLink="/home/memory">Jugar ahora</a>
        </div>
    </div>


    <!-- Chess -->
    <div class="card" style="width: 18rem;">
        <img src="images/chess.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ajedrez</h5>
            <p class="card-text">Juego de estrategia por turnos entre dos jugadores, donde el objetivo es dar jaque mate al rey rival.</p>
            <a class="btn btn-primary w-100" routerLink="/home/chess">Jugar ahora</a>
        </div>
    </div>


    <!-- Sudoku -->
    <div class="card" style="width: 18rem;">
        <img src="images/sudoku.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sudoku</h5>
            <p class="card-text">Rompecabezas numérico en el que se completan celdas con cifras del 1 al 9 sin repetir en filas, columnas ni bloques.</p>
            <a class="btn btn-primary w-100" routerLink="/home/sudoku">Jugar ahora</a>
        </div>
    </div>


    <!-- Minesweeper -->
    <div class="card" style="width: 18rem;">
        <img src="images/minesweeper.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Buscaminas</h5>
            <p class="card-text">Juego de lógica donde se descubre un campo minado sin detonar bombas, deduciendo su ubicación con pistas numéricas.</p>
            <a class="btn btn-primary w-100" routerLink="/home/minesweeper">Jugar ahora</a>
        </div>
    </div>


    <!-- Hangman -->
    <div class="card" style="width: 18rem;">
        <img src="images/hangman.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ahorcado</h5>
            <p class="card-text">Clásico pasatiempo de adivinanza de palabras letra por letra antes de que se complete el dibujo de un ahorcado.</p>
            <a class="btn btn-primary w-100" routerLink="/home/hangman">Jugar ahora</a>
        </div>
    </div>


    <!-- Wordle -->
    <div class="card" style="width: 18rem;">
        <img src="images/wordle.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Wordle</h5>
            <p class="card-text">Juego de palabras donde se intenta adivinar una palabra de cinco letras en seis intentos, con pistas de colores.</p>
            <a class="btn btn-primary w-100" routerLink="/home/wordle">Jugar ahora</a>
        </div>
    </div>


    <!-- Generala -->
    <div class="card" style="width: 18rem;">
        <img src="images/generala.jpeg" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Generala</h5>
            <p class="card-text">Juego de dados por turnos donde se busca lograr combinaciones específicas para sumar puntos, como poker o escalera.</p>
            <a class="btn btn-primary w-100" routerLink="/home/generala">Jugar ahora</a>
        </div>
    </div>


    <!-- Tictactoe -->
    <div class="card" style="width: 18rem;">
        <img src="images/tictactoe.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ta te ti</h5>
            <p class="card-text">Juego de estrategia rápida en el que dos jugadores intentan alinear tres símbolos iguales en una cuadrícula 3x3.</p>
            <a class="btn btn-primary w-100" routerLink="/home/tictactoe">Jugar ahora</a>
        </div>
    </div>


    <!-- Crosswords -->
    <div class="card" style="width: 18rem;">
        <img src="images/crosswords.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Crucigrama</h5>
            <p class="card-text">Pasatiempo de palabras donde se completan casillas con términos a partir de definiciones dadas, cruzándolos entre sí.</p>
            <a class="btn btn-primary w-100" routerLink="/home/crosswords">Jugar ahora</a>
        </div>
    </div>


    <!-- Battleship -->
    <div class="card" style="width: 18rem;">
        <img src="images/battleship.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Batalla naval</h5>
            <p class="card-text">Juego de estrategia por turnos donde los jugadores intentan hundir la flota enemiga adivinando las coordenadas de sus barcos ocultos.</p>
            <a class="btn btn-primary w-100" routerLink="/home/battleship">Jugar ahora</a>
        </div>
    </div>


    <!-- Four in a line -->
    <div class="card" style="width: 18rem;">
        <img src="images/fourinline.png" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cuatro en linea</h5>
            <p class="card-text">Juego de estrategia para dos jugadores que consiste en alinear cuatro fichas del mismo color en fila, columna o diagonal dentro de una rejilla vertical antes que el oponente.</p>
            <a class="btn btn-primary w-100" routerLink="/home/battleship">Jugar ahora</a>
        </div>
    </div>

</div>